<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Auth</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>navbar}}

    <main id="content">
        <form class="form" action="/login" method="post">
            <div class="form__input">
                <input name="email" class="input__box" type="text" placeholder="Enter your email.">
                <i class="input__icon bi bi-envelope"></i>
            </div>
            <div class="form__input">
                <input name="password" class="input__box" type="password" placeholder="Enter your password.">
                <i class="input__icon bi bi-lock"></i>
            </div>
            <div class="buttons">
                <a class="button__item--withOutBG" href="">Forgot Password?</a>
                <button class="buttons__item--withBG" type="submit">LOGIN</button>
            </div>
        </form>
    </main>
</body>
</html>