    <nav id="navbar">
        <!-- BRAND LOGO  -->
        <div class="logo">
            <p class="logo__text" >Express Auth</p>
        </div>

        <!-- NEVBAR LINK  -->
        <ul class="navbar__menu">
            <li class="menu__item">
                <a class="item__link active" href="">Home</a>
            </li>
            <li class="menu__item">
                <a class="item__link" href="/login">Login</a>
            </li>
            <li class="menu__item">
                <a class="item__link" href="/register">Registration</a>
            </li>
            <li class="menu__item">
                <a class="item__link" href="/admin">Admin</a>
            </li>
            <li class="menu__item">
                <a class="item__link" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>